[defaults]
roles_path          = roles
inventory           = inventories/aws_ec2.yml
retry_files_enabled = False
host_key_checking   = False
stdout_callback     = yaml
callbacks_enabled   = ansible.posix.timer, ansible.posix.profile_tasks
gathering           = smart
fact_caching        = jsonfile
fact_caching_connection = /tmp/ansible-facts
fact_caching_timeout = 3600

[ssh_connection]
pipelining          = True
